.histogram {
  border-radius: var(--border-radius-default);
  padding: 16px 24px;
  background-color: var(--color-background-main);
  border: 1px solid #acb5bd;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: var(--color-font-main);
  margin-bottom: 6px;
}

.histogram__link {
  text-decoration: none;
  color: var(--color-primary);
}

.histogram__count {
  font-size: 20px;
  margin-bottom: 40px;
}
