:root {
  --margin-card: 30px;
}

.main-page {
  color: var(--color-font-main);
  background-color: var(--color-background-main);
}

.main-page__box {
  max-width: 1110px;
  margin: 0 auto;
}

.main-page__header {
  padding: 96px 0;
  font-weight: 500;
  font-size: 50px;
}

.main-page__content {
  height: 1036px;
  background: #f9fafc;
  padding-top: 67px;
}

.main-page__footer {
  padding: 71px 0 136px;
}

.main-page__footer-title {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
}

.main-page__footer-text {
  font-size: 16px;
  max-width: 640px;
  margin: 0 auto;
}

.main-page__card-container {
  display: flex;
  flex-wrap: wrap;
}

.main-page__card {
  height: 367px;
  margin-right: var(--margin-card);
  margin-bottom: var(--margin-card);
  border-radius: var(--border-radius-default);
  background-color: var(--color-background-main);
  flex-basis: calc((100% - 2 * var(--margin-card)) / 3);
}

.main-page__card:nth-child(3n) {
  margin-right: 0;
}
