body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltip__content {
  display: flex;
}

.tooltip__anchor {
  width: 22px;
  height: 22px;
  background: url("../../assets/images/Help.png") 50% 50% no-repeat;
  cursor: pointer;
  /* // чтобы не было пропадания cursor pointer из-за перекрытия псевдоэлементом */
  position: relative;
  z-index: 1;
}

.tooltip__content {
  width: 129px;
  height: 45px;
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
  color: var(--color-background-white);
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -9px);
  display: none;
}

.tooltip__content:after {
  content: "";
  border: 14px solid transparent;
  border-top: 6px solid var(--color-primary);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}
